                                                Problem Set 2

Question 1: As a is global theregore it can be called in any function so when it is printed in function b(), its value increases as function c is called and the value is stored in a

In [22]:
a = 0
def b():
    global a
    a = c(a)
    print(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

2
4
6

6

Question 2:

In [3]:
def filelength(filename):
    try:
        f = open(filename)
        print("The length of file is:")
        print(len(f.read()))
    except:
        print("File name is invalid")
    

filelength("test.txt")
filelength("currenies.txt")

File name is invalid
File name is invalid

Question 3:

In [1]:
class Marsupial:
    def __init__(self):
        self.toys = []
    def put_in_pouch(self, toy):
        self.toys.append(toy)
    def pouch_content(self):
        return self.toys
    
class Kangaroo(Marsupial):
    def __init__(self, xcord, ycord):
        Marsupial.__init__(self)
        self.x = xcord
        self.y = ycord 
           
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'I am a Kangaroo located at  coordinates ({},{})'.format(self.x,self.y)

        
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("Doll")
k.put_in_pouch("Firetruck")
k.put_in_pouch("Kitten")
print(k.pouch_content())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at  coordinates (0,0)
['Doll', 'Firetruck', 'Kitten']
I am a Kangaroo located at  coordinates (3,0)

Question 4:

In [1]:

def collatz(n):
    if n == 1:
        print(1)
    elif (n%2 == 0):
        print(int(n))
        n /= 2
        print(int(n))
        collatz(int(n))
    else:
        n *= 3
        n += 1
        collatz(int(n))
        
        
collatz(10)

10
5
16
8
8
4
4
2
2
1
1

Question 5:

In [4]:
def binary(n):
    if n == 0 or n == 1:
        print(n)
    else:
        while n > 1:
            bnry = []            
            r = n%2
            n /=2
            bnry.append(int(r))
            print(bnry)
            

binary(9)

[1]
[0]
[0]
[1]

Question 6:

In [4]:
from html.parser import HTMLParser
 
class HeadingParser(HTMLParser):
    checkHeader = False
    indentNo = 0
    
    def handle_starttag(self, t, attrs):
        if t == "h1":
            self.checkHeader = True
            self.indentNo = 0
        elif t == "h2":
            self.checkHeader = True
            self.indentNo = 1
        elif t == "h3":
            self.checkHeader = True
            self.indentNo = 2
        elif t == "h4":
            self.checkHeader = True
            self.indentNo = 3
        elif t == "h5":
            self.checkHeader = True
            self.indentNo = 4
        elif t == "h6":
            self.checkHeader = True
            self.indentNo = 5
        else:
            self.checkHeader = False
            self.indentNo = 0
 
    def handle_data(self, data):
        if self.checkHeader:
            space = " "*self.indentNo
            print("%s%s" % (space, data))
 
    def handle_endtag(self, t):
        if t in ["h1", "h2", "h3", "h4", "h5", "h6"]:
            self.checkHeader = False
 
 
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 7

In [8]:
from bs4 import BeautifulSoup
import requests

urls = []
def webdir(site):
    r = requests.get(site)
    s = Beautifulsoup(r.text, "html.parser")
    for i in s.find_all("a"):
        href = i.attrs['href']
        if href.startswith("/"):
            site = site+href
            if site not in  urls:
                urls.append(site) 
                print(site)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html')

NameError: name 'Beautifulsoup' is not defined

Question 8

In [10]:
import sqlite3 as sql
con = sql.connect('web.db')
cur = con.cursor()

cur.execute("CREATE TABLE RAIN(City text, Country text, Season text, Temprature float, Rainfall float)")

In [13]:
cur.execute("INSERT INTO RAIN VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO RAIN VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO RAIN VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO RAIN VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO RAIN VALUES('London', 'UK', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO RAIN VALUES('London', 'UK', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO RAIN VALUES('London', 'UK', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO RAIN VALUES('London', 'UK', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO RAIN VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO RAIN VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO RAIN VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO RAIN VALUES('Cairo', 'Egypt', 'Fall', 22.2, 5.5)")

Question 8 a

In [14]:
cur.execute("SELECT Temprature FROM RAIN")

In [15]:
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

Question 8 b

In [18]:
cur.execute("SELECT DISTINCT City FROM RAIN")

In [19]:
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

Question 8 c

In [22]:
cur.execute("SELECT * FROM RAIN where Country = 'India'")

In [23]:
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

Question 8 d

In [24]:
cur.execute("SELECT * FROM RAIN where Season = 'Fall'")

In [25]:
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'UK', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 5.5)]

Question 8 e

In [26]:
cur.execute("SELECT City, Country, Season FROM RAIN where Rainfall BETWEEN 200 AND 400")

In [27]:
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'UK', 'Winter'),
 ('London', 'UK', 'Fall')]

Question 8 f

In [30]:
cur.execute("SELECT City, Country FROM RAIN where Temprature > 20 AND Season = 'Fall' ORDER BY Temprature ASC")

In [31]:
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

Question 8 g

In [75]:
cur.execute("SELECT Sum(Rainfall) FROM RAIN where City = 'Cairo'")

In [76]:
cur.fetchall()

[(27.6,)]

Question 8 h

In [87]:
cur.execute("SELECT Sum(Rainfall), Season FROM RAIN GROUP BY Season ORDER BY Sum(Rainfall)")

In [88]:
cur.fetchall()

[(192.29999999999998, 'Spring'),
 (230.1, 'Winter'),
 (569.0, 'Fall'),
 (1706.5, 'Summer')]

Question 9

In [120]:
Word = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
l1 = [x.upper() for x in Word]
l2 = [x.lower() for x in Word]
l3 = [len(i) for i in Word]
l4 = [[z.upper(), z.lower(), len(z)] for z in Word]
l5 = [x.lower() for x in Word if len(x) >= 4]
print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']